In [1]:
import pandas as pd

# Задание 2.3 (External resource)

Напишите функцию delete_columns(df, col=[]), которая удаляет столбцы из DataFrame и возвращает новую таблицу. Если одного из указанных столбцов не существует в таблице, то функция должна возвращать None.

In [2]:
customer_df = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })


def delete_columns(df, col=[]):
    for i in range(len(col)):
        # Проверяем наличие столбца в DataFrame
        if col[i] in df.columns:
            df = df.drop(col[i], axis=1)
        else:
            return None
        
    return df

# Задание 2.4

Задан DataFrame countries_df, содержащий следующие столбцы: название страны, население (population) в миллионах человек и площадь страны (area) в квадратных километрах.

In [2]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

Для каждой страны рассчитайте плотность населения (количество человек на квадратный километр).

Затем по полученным данным рассчитайте среднее по плотностям населения в указанных странах. Ответ округлите до сотых.

Плотность населения рассчитывается как количество человек, проживающих на территории отдельной страны, делённое на площадь этой страны. Обратите внимание, что население в таблице представлено в миллионах.

In [3]:
countries_df['population_density'] = (countries_df['population'] * 1000000) / countries_df['area']
a = round(countries_df['population_density'].mean(), 2)
display(a)

84.93

# Задание 3.3

Создайте в таблице *melb_df* признак ***WeekdaySale*** (день недели). Найдите, сколько объектов недвижимости было продано в выходные (суббота и воскресенье),   
результат занесите в переменную *weekend_count*. В качестве ответа введите результат вывода переменной *weekend_count*.

In [4]:
melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_data['Date'] = pd.to_datetime(melb_data['Date'], dayfirst=True)
melb_df = melb_data.copy()

melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
weekend_count = melb_df[(melb_df['WeekdaySale'] == 5 )| (melb_df['WeekdaySale'] == 6)].shape
display(weekend_count)

(12822, 24)

### ВВОДНЫЕ ДАННЫЕ ДЛЯ ВЫПОЛНЕНИЯ ЗАДАНИЙ 3.4-3.5

Вам представлены [данные](https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv) (в формате csv) об отчётах очевидцев НЛО в США за период с 1930 по 2020 год.

В данных есть следующие признаки:

* "City" — город, где был замечен НЛО;
* "Colors Reported" — цвет объекта;
* "Shape Reported" — форма объекта;
* "State" — обозначение штата;
* "Time" — время, когда был замечен НЛО (данные отсортированы от старых наблюдений к новым). 

Прочитайте данные, сделайте преобразование времени к формату datetime и выполните задания ниже.

In [5]:
ufo_date = pd.read_csv('data/ufo.csv', sep=',')
ufo_date['Time'] = pd.to_datetime(ufo_date['Time'])
ufo_date.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

# Задание 3.4

В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?

In [63]:
# C помощью атрибута dt.year можно извлечь год наблюдения и найти его модальное значение.
ufo_mode_year = ufo_date['Time'].dt.year
display(ufo_mode_year.mode()[0])

1999

# Задание 3.5

Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).

> Чтобы выделить дату из столбца *Time*, можно воспользоваться атрибутом *datetime date*.   
> Чтобы вычислить разницу между двумя соседними датами в столбце, примените к нему метод *diff()*.   
> Чтобы перевести интервал времени в дни, воспользуйтесь атрибутом *timedelta days*.

In [64]:
# Подсказка (1 из 1): Для удобства можно создать дополнительный столбец с датой Date, выделив атрибут datetime. После этого необходимо произвести фильтрацию и отобрать из данных только штат Невада.
# В отфильтрованных данных нужно вычислить разницу между двумя последовательными наблюдениями с помощью метода diff() и посчитать среднее количество дней между двумя наблюдениями.

ufo_date['Date'] = ufo_date['Time'].dt.date
print(ufo_date[ufo_date['State']=='NV']['Date'].diff().dt.days.mean())

68.92932862190813

# Задание 4.2

Напишите функцию get_weekend(weekday), которая принимает на вход элемент столбца WeekdaySale и возвращает 1, если день является выходным, и 0 — в противном случае, и создайте столбец Weekend в таблице melb_df с помощью неё.
Примените эту функцию к столбцу и вычислите среднюю цену объекта недвижимости, проданного в выходные дни. Результат округлите до целых.

In [9]:
def get_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else:
        return 0
    
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)
print(round(melb_df[melb_df['Weekend'] == 1]['Price'].mean()))

1081199

# Задание 4.3

Преобразуйте столбец SellerG с наименованиями риелторских компаний в таблице melb_df следующим образом: оставьте в столбце только 49 самых популярных компаний, а остальные обозначьте как 'other'.
Найдите, во сколько раз минимальная цена объектов недвижимости, проданных компанией 'Nelson', больше минимальной цены объектов, проданных компаниями, обозначенными как 'other'. Ответ округлите до десятых.

In [22]:
# метод nlargest(), который возвращает n наибольших значений из Series. Зададим n=49, т. е. мы хотим отобрать десять наиболее популярных подтипов.   
# Извлечём их названия с помощью атрибута index, а результат занесём в переменную
popular_seller = melb_df['SellerG'].value_counts().nlargest(49).index
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in popular_seller else 'other')
print(melb_df[melb_df['SellerG']=='Nelson']['Price'].min() / melb_df[melb_df['SellerG']=='other']['Price'].min())

1.297709923664122

# Задание 4.4 (External resource)

Представьте, что вы занимаетесь подготовкой данных о вакансиях с платформы hh.ru. В вашем распоряжении имеется таблица, в которой с помощью парсинга собраны резюме кандидатов.   
В этой таблице есть текстовый столбец «Опыт работы». Пример такого столбца представлен ниже в виде объекта Series. Структура текста в столбце фиксирована и не может измениться.   
Напишите функцию get_experience(arg), аргументом которой является строка столбца с опытом работы.   
Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.

> Примечание. Обратите внимание, что опыт работы может выражаться только в годах или только в месяцах. Учтите это при построении своей функции.   
> При проверке мы будем применять вашу функцию к разным Series с помощью метода apply().

In [30]:

def get_experience(arg):
    
    exp_list = arg.split()
    month_list = ['месяц', 'месяца', 'месяцев']
    year_list = ['год', 'года', 'лет']
    if exp_list[-1] in month_list and exp_list[-3] in year_list:
        result = int(exp_list[-2]) + int(exp_list[-4])*12
    elif exp_list[-1] in month_list and exp_list[-3] not in year_list:
        result = int(exp_list[-2])
    elif exp_list[-1] in year_list:
        result = int(exp_list[-2])*12
                
    return result

arg = 'Опыт работы 3 месяца'
print(get_experience(arg))

3