In [44]:
import pandas as pd

# Задание 2.3 (External resource)

Напишите функцию delete_columns(df, col=[]), которая удаляет столбцы из DataFrame и возвращает новую таблицу. Если одного из указанных столбцов не существует в таблице, то функция должна возвращать None.

In [45]:
customer_df = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })


def delete_columns(df, col=[]):
    for i in range(len(col)):
        # Проверяем наличие столбца в DataFrame
        if col[i] in df.columns:
            df = df.drop(col[i], axis=1)
        else:
            return None
        
    return df

# Задание 2.4

Задан DataFrame countries_df, содержащий следующие столбцы: название страны, население (population) в миллионах человек и площадь страны (area) в квадратных километрах.

In [46]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

Для каждой страны рассчитайте плотность населения (количество человек на квадратный километр).

Затем по полученным данным рассчитайте среднее по плотностям населения в указанных странах. Ответ округлите до сотых.

Плотность населения рассчитывается как количество человек, проживающих на территории отдельной страны, делённое на площадь этой страны. Обратите внимание, что население в таблице представлено в миллионах.

In [47]:
countries_df['population_density'] = (countries_df['population'] * 1000000) / countries_df['area']
a = round(countries_df['population_density'].mean(), 2)
display(a)

84.93

# Задание 3.3

Создайте в таблице *melb_df* признак ***WeekdaySale*** (день недели). Найдите, сколько объектов недвижимости было продано в выходные (суббота и воскресенье),   
результат занесите в переменную *weekend_count*. В качестве ответа введите результат вывода переменной *weekend_count*.

In [48]:
melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_data['Date'] = pd.to_datetime(melb_data['Date'], dayfirst=True)
melb_df = melb_data.copy()

melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
weekend_count = melb_df[(melb_df['WeekdaySale'] == 5 )| (melb_df['WeekdaySale'] == 6)].shape
display(weekend_count)

(12822, 24)

### ВВОДНЫЕ ДАННЫЕ ДЛЯ ВЫПОЛНЕНИЯ ЗАДАНИЙ 3.4-3.5

Вам представлены [данные](https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv) (в формате csv) об отчётах очевидцев НЛО в США за период с 1930 по 2020 год.

В данных есть следующие признаки:

* "City" — город, где был замечен НЛО;
* "Colors Reported" — цвет объекта;
* "Shape Reported" — форма объекта;
* "State" — обозначение штата;
* "Time" — время, когда был замечен НЛО (данные отсортированы от старых наблюдений к новым). 

Прочитайте данные, сделайте преобразование времени к формату datetime и выполните задания ниже.

In [49]:
ufo_date = pd.read_csv('data/ufo.csv', sep=',')
ufo_date['Time'] = pd.to_datetime(ufo_date['Time'])
ufo_date.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

# Задание 3.4

В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?

In [50]:
# C помощью атрибута dt.year можно извлечь год наблюдения и найти его модальное значение.
ufo_mode_year = ufo_date['Time'].dt.year
display(ufo_mode_year.mode()[0])

1999

# Задание 3.5

Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).

> Чтобы выделить дату из столбца *Time*, можно воспользоваться атрибутом *datetime date*.   
> Чтобы вычислить разницу между двумя соседними датами в столбце, примените к нему метод *diff()*.   
> Чтобы перевести интервал времени в дни, воспользуйтесь атрибутом *timedelta days*.

In [51]:
# Подсказка (1 из 1): Для удобства можно создать дополнительный столбец с датой Date, выделив атрибут datetime. После этого необходимо произвести фильтрацию и отобрать из данных только штат Невада.
# В отфильтрованных данных нужно вычислить разницу между двумя последовательными наблюдениями с помощью метода diff() и посчитать среднее количество дней между двумя наблюдениями.

ufo_date['Date'] = ufo_date['Time'].dt.date
print(ufo_date[ufo_date['State']=='NV']['Date'].diff().dt.days.mean())

68.92932862190813

# Задание 4.2

Напишите функцию get_weekend(weekday), которая принимает на вход элемент столбца WeekdaySale и возвращает 1, если день является выходным, и 0 — в противном случае, и создайте столбец Weekend в таблице melb_df с помощью неё.
Примените эту функцию к столбцу и вычислите среднюю цену объекта недвижимости, проданного в выходные дни. Результат округлите до целых.

In [52]:
def get_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else:
        return 0
    
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)
print(round(melb_df[melb_df['Weekend'] == 1]['Price'].mean()))

1081199

# Задание 4.3

Преобразуйте столбец SellerG с наименованиями риелторских компаний в таблице melb_df следующим образом: оставьте в столбце только 49 самых популярных компаний, а остальные обозначьте как 'other'.
Найдите, во сколько раз минимальная цена объектов недвижимости, проданных компанией 'Nelson', больше минимальной цены объектов, проданных компаниями, обозначенными как 'other'. Ответ округлите до десятых.

In [53]:
# метод nlargest(), который возвращает n наибольших значений из Series. Зададим n=49, т. е. мы хотим отобрать десять наиболее популярных подтипов.   
# Извлечём их названия с помощью атрибута index, а результат занесём в переменную
popular_seller = melb_df['SellerG'].value_counts().nlargest(49).index
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in popular_seller else 'other')
print(melb_df[melb_df['SellerG']=='Nelson']['Price'].min() / melb_df[melb_df['SellerG']=='other']['Price'].min())

1.297709923664122

# Задание 4.4 (External resource)

Представьте, что вы занимаетесь подготовкой данных о вакансиях с платформы hh.ru. В вашем распоряжении имеется таблица, в которой с помощью парсинга собраны резюме кандидатов.   
В этой таблице есть текстовый столбец «Опыт работы». Пример такого столбца представлен ниже в виде объекта Series. Структура текста в столбце фиксирована и не может измениться.   
Напишите функцию get_experience(arg), аргументом которой является строка столбца с опытом работы.   
Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.

> Примечание. Обратите внимание, что опыт работы может выражаться только в годах или только в месяцах. Учтите это при построении своей функции.   
> При проверке мы будем применять вашу функцию к разным Series с помощью метода apply().

In [54]:

def get_experience(arg):
    
    exp_list = arg.split()
    month_list = ['месяц', 'месяца', 'месяцев']
    year_list = ['год', 'года', 'лет']
    if exp_list[-1] in month_list and exp_list[-3] in year_list:
        result = int(exp_list[-2]) + int(exp_list[-4])*12
    elif exp_list[-1] in month_list and exp_list[-3] not in year_list:
        result = int(exp_list[-2])
    elif exp_list[-1] in year_list:
        result = int(exp_list[-2])*12
                
    return result

arg = 'Опыт работы 3 месяца'
print(get_experience(arg))

3

# 6. Закрепление знаний

##### Датасет представляет собой таблицу с информацией о 300 тысячах поездок за первые пять дней сентября 2018 года и включает в себя следующую информацию:

* *starttime* — время начала поездки (дата, время);
* *stoptime* — время окончания поездки (дата, время);
* *start station id* — идентификатор стартовой стоянки;
* *start station name* — название стартовой стоянки;
* *start station latitude, start station longitude* — географическая широта и долгота стартовой стоянки;
* *end station id *— идентификатор конечной стоянки;
* *end station name* — название конечной стоянки;
* *end station latitude, end station longitude* — географическая широта и долгота конечной стоянки;
* *bikeid* — идентификатор велосипеда;
* *usertype* — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, Subscriber — подписчик с годовой арендой велосипеда);
* *birth year *— год рождения клиента;
* *gender* — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).

In [55]:
citibike_data = pd.read_csv('data/citibike-tripdata.csv') # Read CSV file
citibike_df = citibike_data.copy() # Make a copy
citibike_df.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

## Задание 6.1

Сколько пропусков в столбце start station id?

In [65]:
citibike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station id           299831 non-null  float64
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(3)
memory usage: 27.5+ MB

## Задание 6.3

Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [57]:
citibike_df['start station id'].mode()[0]

# 6.4 Велосипед с каким идентификатором является самым популярным?
citibike_df['bikeid'].mode()[0]

33887

## Задание 6.5

Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

In [58]:
citibike_df['usertype'].value_counts(normalize=True)

usertype
Subscriber    0.774007
Customer      0.225993
Name: proportion, dtype: float64

## Задание 6.6

Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [59]:
male_count = citibike_df[citibike_df['gender'] == 1].shape
female_count = citibike_df[citibike_df['gender'] == 0].shape
print(max([male_count, female_count]))

(183582, 14)

## Задание 6.7
Выберите утверждения,которые соответствуют нашим данным:

In [72]:
citibike_df.describe()

# A Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу - False
# B В рассматриваемые дни минимальный возраст клиента составлял 10 лет - False
# C Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием "Eastern Pkwy & Washington Ave" - True

,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,gender,age
count,299831.000000,300000.000000,300000.000000,299831.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,1695.665665,40.737769,-73.982042,1684.624298,40.737294,-73.982330,26688.525943,1.108647,38.635197
std,1458.264055,0.031999,0.020207,1457.549589,0.031794,0.020261,6271.691143,0.613398,11.920796
min,72.000000,40.655400,-74.025353,72.000000,40.655400,-74.083639,14529.000000,0.000000,16.000000
25%,387.000000,40.716226,-73.995991,387.000000,40.716059,-73.996621,20569.000000,1.000000,29.000000
50%,519.000000,40.737262,-73.985162,519.000000,40.737050,-73.985649,28197.000000,1.000000,36.000000
75%,3282.000000,40.760683,-73.970416,3282.000000,40.760094,-73.971092,32216.000000,1.000000,49.000000
max,3705.000000,40.869000,-73.878000,3705.000000,40.869000,-73.878000,34863.000000,2.000000,133.000000

## Задание 6.8
В первую очередь удалим лишнюю информацию из данных.
В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

In [ ]:
citibike_df.drop(['start station name', 'end station name'], axis=1, inplace=True)

## Задание 6.9
Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

In [87]:
citibike_df['age'] = 2018 - citibike_data['birth year']
print(citibike_df[citibike_df['age']>60].shape)
citibike_df.info()

(11837, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station id         299831 non-null  float64
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station id           299831 non-null  float64
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
 12  trip duration            300000 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(6), int64(3), object(1), timedelta64[ns](1)
memory usage: 29.8+ MB

## Задание 6.10
Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

In [91]:
citibike_df['starttime'] = pd.to_datetime(citibike_df['starttime'])
citibike_df['stoptime'] = pd.to_datetime(citibike_df['stoptime'])
citibike_df['trip duration'] = (citibike_df['stoptime'] - citibike_df['starttime'])
citibike_df.loc[3, 'trip duration']

Timedelta('0 days 00:07:16.837000')

## Задание 6.11
Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.

In [93]:
weekend = [5, 6]
citibike_df['weekend'] = citibike_df['starttime'].dt.weekday.apply(lambda x: 1 if x in weekend else 0)
print(citibike_df[citibike_df['weekend'] == 1].shape[0])

115135

## Задание 6.12
Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:
* поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
* поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
* поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
* поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).   

Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

In [100]:
def get_time_of_day(trip_time):
    if 0 <= trip_time <= 6:
        result = 'night'
    elif 6 < trip_time <= 12:
        result = 'morning'
    elif 12 < trip_time <= 18:
        result = 'day'
    elif 18 < trip_time <= 23:
        result = 'evening'
        
    return result

citibike_df['time_of_day'] = citibike_df['starttime'].dt.hour.apply(get_time_of_day)
night_trip = citibike_df[citibike_df['time_of_day'] == 'night'].shape[0]
day_trip = citibike_df[citibike_df['time_of_day'] == 'day'].shape[0]
print(round(day_trip / night_trip))

9